* {
	box-sizing: border-box;
	margin: 0;
}

body{
	font-family: 'main';
	color: black;
}

@font-face {
	font-family: 'main';
    src: url('Polices/test.otf');
}

#navigation{
	position: -webkit-sticky;
	position: sticky;
}
#navigation ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0A1A33;
}
#navigation li {
	border-right: 1px solid #bbb;
	float: left;
}
#navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #054260;
}
#navigation li:last-child {
	border-right: none;
}
#navigation > ul li:hover .sous{
	display: block;
}

header img{
	position: fixed;
	width: 50px;
	z-index: 3;
	top: 0;
	right: 0;
}

.sous li{
	float:none;
	text-align: left;
}
.sous{
	display: none;
}

.parallax {
	background-image: url("Images/Background.jpg");
	min-height: 600px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	background-color: #B8C3D9;
}

h1 {
	background-color: #0448D9;
	text-align: center;
	padding: 10px;
	font-size: 400%;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 250%;
	padding-top: 50px;
	font-weight: bold;
}

#intro{
	padding-top: 10px;
}
#intro,
#outro{
	font-size: 20px;
	text-align: center; 
	text-indent: 0mm;
}
#outro{
	margin-bottom: 50px;
}

.texte {
	margin-left: 15%;
	margin-right: 15%;
	max-width: 1300px;
}
.texte ul{
	list-style-type:"- ";
	text-align: justify;
	font-size: 20px;
	padding-right: 20px;
}
.texte a{
	text-decoration: none;
	color: black;
	font-size: 21px;
	font-weight: bold;
}
.texte a:hover{
	text-decoration: underline;
}

.texte p{
	padding-left: 20px;
	padding-right: 20px;
	text-indent: 20mm;
	text-align: justify;
	font-size: 20px;
	padding-bottom: 10px;
}
.texte img{
	width: 40%;
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer {
	font-size: 18px;
	color: white;
	z-index: 3;
	background-color: #0A1A33;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	column-count: 3;
	padding-top: 15px;
	padding-bottom: 13px;
	display: block;
}
footer a,
footer a:link,
footer a:visited{
	text-decoration: none;
	color: white;
}
footer a:hover{
	text-decoration: underline;
}
