* {
	box-sizing: border-box;
	margin: 0;
}

body{
	font-family: sans-serif;
	color: black;
}

#navigation{
	position: -webkit-sticky;
	position: sticky;
	/*z-index: 10*/
}
#navigation ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #193A6F;
}
#navigation li {
	border-right: 1px solid #bbb;
	float: left;
}
#navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #11224D;
}
#navigation li:last-child {
	border-right: none;
}

header img{
	position: fixed;
	width: 50px;
	z-index: 3;
	top: 0;
	right: 0;
}

#navigation > ul li:hover .sous{
	display: block;
}

.sous li{
	float:none;
	text-align: left;
}

.sous{
	display: none;
}

.parallax {
	background-image: url("Images/Background.jpg");
	min-height: 700px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	/*background-image: url("Images/Background_txt2_or2.png");*/
	background-color: rgba(252, 163, 17, 1);
}

article {
/*	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 50px;*/
}

h1 {
	background-color: rgba(20, 33, 61, 1);
	text-align: center;
	padding: 10px;
	font-size: 400%;
}

h2 {
	/*background-color: rgba(33, 89, 157, 1);*/
	text-align: center;
	font-size: 250%;
	padding-top: 50px;
}

h3 {
	font-size: 200%;
	text-decoration: underline;
	padding: 0;
}


#intro{
	padding-top: 10px;
}

#intro,
#outro{
	text-align: center; 
	text-indent: 0mm;
}

#outro{
	margin-bottom: 50px;
}

#gif img {
	max-width: 30%;
	margin-left: 0px;
	border: 5px solid;
	border-image: linear-gradient(blue, lightblue) 5;
}

#news {
	padding-left: 15px;
	padding-top: 8px;
	text-indent: 0mm;
}

.texte {
	margin-left: 15%;
	margin-right: 15%;
	max-width: 1300px;
/*	font-family: Roboto;*/
}

.texte ul{
	list-style-type:"- ";
	font-size: 150%;
	padding-right: 20px;
}

.texte a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.texte a:hover{
	text-decoration: underline;
}

.texte p{
	padding-left: 20px;
	padding-right: 20px;
	text-indent: 20mm;
	text-align: justify;
	font-size: 150%;
	padding-bottom: 10px;
}

.texte img{
	width: 40%;
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer {
	font-size: 20px;
	color: white;
/*	opacity: 80%;*/
	z-index: 3;
	background-color: #193A6F;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	column-count: 3;
	padding: 14px;
	display: block;
}
footer a,
footer a:link,
footer a:visited{
	text-decoration: none;
	color: white;
}
footer a:hover{
	text-decoration: underline;
}
footer p:hover{
	text-decoration: underline;
}