.texte ul {
    list-style-type:"- ";
    text-align: justify;
    font-size: 25px;
    padding-right: 20px;
}

.texte a {
    font-size: 26px;    
}

.texte h2 {
    text-align: left;
    font-size: 200%;
    padding-top: 45px;
    padding-bottom: 20px;
}

@media (max-width: 1024px){
    .texte ul {
        font-size: 20px;
    }
}